/*X230 Screen Dpi*/
!Xft.dpi: 130

/*Monitor DPI*/
!Xft.dpi: 144

! Current DPI
Xft.dpi: 144


st.font: Fira Code:regular:size=15
term.font: Fira Code:regular:size=15
scratch.font: Fira Code:regular:size=15
system.font: Fira Code:regular:size=11.5
unlock.font: Fira Code:regular:size=14
phone.font: Fira Code:regular:size=15
home.font: Fira Code:regular:size=17
music.font: Fira Code:regular:size=16
/**.alpha: 0.8*/
dmenu.font: #monospace: size=12
dwm.font: #monospace: size=12



Sxiv.font: #monospace: size=12
Sxiv.foreground: #BD93F9
Sxiv.background: #282A36

*dmenufont: #monospace: size=12 
/* This Controls Dmenu run used by DWM */



/* DWM Only Settings */

dwm.borderpx: 3

/* name		dark	light */
/* black	0	8 */
/* red		1	9 */
/* green	2	10 */
/* yellow	3	11 */
/* blue		4	12 */
/* purple	5	13 */
/* cyan		6	14 */
/* white	7	15 */

/* !! gruvbox: */
/* *.color0: #1d2021 */
/* *.color1: #cc241d */
/* *.color2: #98971a */
/* *.color3: #d79921 */
/* *.color4: #458588 */
/* *.color5: #b16286 */
/* *.color6: #689d6a */
/* *.color7: #a89984 */
/* *.color8: #928374 */
/* *.color9: #fb4934 */
/* *.color10: #b8bb26 */
/* *.color11: #fabd2f */
/* *.color12: #83a598 */
/* *.color13: #d3869b */
/* *.color14: #8ec07c */
/* *.color15: #ebdbb2 */
/* *.color256: #1d2021 */
/* *.color257: #ebdbb2 */

! Dracula Xresources palette

/*xterm*.faceName: Fira Code 
xterm*.faceSize: 12.5*/
!xterm*.color0: #282A36
xterm*.background: #000000

*.foreground: #F8F8F2
*.background: #282A36
*.color0:     #000000 
!*.color0: #282A36  
*.color8:     #4D4D4D
*.color1:     #FF5555
*.color9:     #FF6E67
*.color2:     #50FA7B
*.color10:    #5AF78E
*.color3:     #F1FA8C
*.color11:    #F4F99D
*.color4:     #BD93F9
*.color12:    #CAA9FA
*.color5:     #FF79C6
*.color13:    #FF92D0
*.color6:     #8BE9FD
*.color14:    #9AEDFE
*.color7:     #BFBFBF
*.color15:    #E6E6E6

! DWM Colors
dwm.color0: #000000
dwm.color8: #BD93F9
!dwm.color8:  #4D4D4D

! ST Colors
st.background: #000000
term.background: #000000
scratch.background: #000000
phone.background: #000000
unlock.background: #000000
home.background: #000000
music.background: #000000
system.background: #000000
!st.background: #282A36 
/*Lynx Black Background Fixes(Compatible with Dwm*/
/*Lynx.color0: #282A36 */
/* *.background: .color0 */
*.color256: 0#1d2021
*.color257: 15#ebdbb2

!st.color0: #000000 
